html, body {
    height: 100%;
    margin: 0;

}   

.banner{
    margin-top: 1%;
    width: 100%;
    height: 45%;
    background-image: url('../img/power-market-banner.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.slogan>h3{
    font-size: 3vw;
    margin-top: 5%;
    color: whitesmoke;
}

.slogan{
    margin-left:5%;
    color: black;
    margin-bottom: 2%;
    width:85%;
}

.info-section{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 30%;
    margin-top: 5%;
    height: 35%;

}
/* 
.tag{
    background-color: #45526e;
} */
/* Стили для названия карты */
.name_of_project{
    margin-left:5%;
    color: black;
    margin-bottom: 2%;
    width:85%;
}

.name_of_map {
    text-align: center; /* Располагаем текст по центру */
    font-family: Arial, sans-serif; /* Выбираем шрифт */
    color: blue; /* Выбираем цвет текста (например, оранжевый) */
    font-size: 3vw; /* Размер шрифта (по вашему желанию) */
    padding: 10px;
    border-radius: 1px;/* Другие стили по вашему усмотрению */
}

.short_about{
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.tag>h1{
    text-align: center;
    margin-top:5%;
}

.short_about>div{
    width: 80%;
    font-size: 1.5em;
}



.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #45526e; */
    height: 60%;
    margin-top: 5%;
    color: white;
}

.info>div{
    width: 40%;
    height: 90%;
    font-size: 1.2em;
    overflow: auto;
}


.info>div>h1{
    /* text-align: center; */
    margin-bottom:2%;
}



.info-section-up{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 30%;
    margin-top: 5%;
    height: 40%;

}

.info-section-up>div{
    /* border: 2pxsz red solid; */
    background-color: whitesmoke;
    width: 40%;
    height: 100%;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;

}

.info-section-up> div >h1{
    text-align: center;
    margin-top: 5%;
    
}

.info-section-up> div> ul{
    margin-top: 5%;
}


.pm-structure{
    background-size: cover;
    margin-top: 5%;
}

.about_link{
    /* font-size: 1.2em; */
    text-align:center;
    margin-top: 2%;
}


.button-31 {
  background-color: #45526e;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.regions_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Стилизация модальных окон */
.carousel-inner{
    width: 50%;
   }
   
   .team-member {
       text-align: center;
   }
     
     .team-member img {
       width: 200px;
       height: 200px;
       border-radius: 50%;
       object-fit: cover;
   }
     
     .team-member h3 {
       margin-top: 10px;
   }
     
     .team-member p {
       margin-bottom: 10px;
   }
     
     .carousel-control-prev:focus,
     .carousel-control-next:focus {
       outline: none;
     }
     
     .carousel-control-prev-icon::before,
     .carousel-control-next-icon::before {
       display: none;
     }
    
    /* ----------*/
   
     .carousel-container {
       width: 100%;
       overflow: hidden;
       margin-top: 5%;
   
     }
   
     .carousel-container>h1{
       text-align: center;
       margin-bottom:3%;
       flex: 75%;
     }
   
   
     
     .carousel-track {
       display: flex;
       transition: transform 0.3s ease-in-out;
     }
     
     .carousel-slide {
       flex: 0 0 calc(100% / 3);
       padding: 10px;
     }
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal {
    background-color: #fff;
    min-width: 80%;
    min-height: 80%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.chart-container {
   display: inline-block;
   margin: 30px;
   justify-content: center;
   align-items: center;
}

