html, body {
    margin: 0;
}   

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }


h1{
    margin-left: -45%;
    /* margin-bottom: 5%; */
}

/* a:link{
    baccolor: black;
} */

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
}

.projects{
    /* height: 80%; */
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top:5%;

}

.porjects-inner{
    width: 80%;
    /* height: 100%; */
    /* text-align: center; */
    display: flex;
    /* flex-direction: ; */
    justify-content: space-around;
    /* background-color: gray; */

}


.porjects-inner>div{
    width: 35%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    transition: transform 0.1s;
    border-radius: 2%;
    color: black;
    box-shadow: 3px 3px 5px 5px;
    margin-bottom: 5%;
    
} 


.porjects-inner div>div{
    width: 80%;
    flex-direction: column;
    color: black;

} 


.porjects-inner>div:hover{
    transform: scale(1.002);
}


.publications{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.publications-inner{
    display: flex;
    width: 70%;
    flex-direction: row;
    font-size: 110%;
}

.publications-inner>div{
    width: 95%;

}

.publications-inner>div:first-child{
    width: 5%;
    text-align: center;
}
