<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/smart-city.css">
    <link rel="icon" href="../../static/img/icon.ico">

    <title>О проекте</title>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
         $(function(){
        $("#navbar").load("pm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
</script> 
</head>
<body>
    <div id="navbar"></div>
    <div class="tag">
        <h1>О проекте</h1>
    </div>
    <div class="info">
        <div style="font-size: 1.2em;">
            Цель проекта: изучить и проанализировать пути формирования эффективной тарифной политики и новых рыночных механизмов в электроэнергетике Казахстана с увеличением доли возобновляемых источников энергии (ВИЭ) и цифровизацией отрасли путем сравнения различных сценариев развития; разработка программного обеспечения или веб-платформы для эффективной работы оператора по сбыту электроэнергии.
Интеграция возобновляемых источников энергии в энергетические системы стала возможной благодаря развитию инфраструктуры электросетей, мерам по управлению спросом (установка многотарифных счетчиков и гибкость цен на электроэнергию), развитию технологий накопления энергии, а также отраслевому сотрудничеству и гибкому производству электроэнергии на традиционных электростанциях. При этом успехи в развитии ВИЭ и быстрый рост его доли в энергобалансе были связаны с масштабной государственной поддержкой новых технологий в развитых странах. Закупки зеленой электроэнергии по более высоким ценам, субсидии компаниям, переходящим на использование новых технологий, существенно помогли отрасли на ранних этапах развития.
Новизна исследования заключается в апробации и интеграции новых системных рыночных механизмов развития рынка электроэнергии с современными видами возобновляемых источников энергии и накопителей энергии с инструментами компьютерного сценарного моделирования.
Исследовательская группа применит современные ИТ-подходы в области сценарного анализа и мультиагентного моделирования для формирования новой тарифной политики на рынке электроэнергии. По итогам проекта ожидается разработка модели оптимизации казахстанского рынка электроэнергии для апробации и формирования новой тарифной политики с механизмом прозрачных аукционов между всеми участниками.
Научный руководитель проекта – Н.К. Жакиев (кандидат физ.-мат. наук).
</div>
    </div>

    <div id="footer"></div>
    
</body>
</html>