<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../static/img/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/hm-publications.css">

    <title>Публикации</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("sc-navbar.html"); 
        $("#footer").load("footer.html"); 
        });ы
    </script> 

</head>
<body>
    <!-- Navbar -->
    <div id="navbar"></div>

    
    <div class="container_pb">
        <table> 
            <tbody>
                <tr>
                    <th>№</th>
                    <th>Год</th>
                    <th>Статья</th>
                    <th>Журнал</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2021</td>
                    <td>Нурлан З., Жукабаева Т., Отман М., Адамова А., «Подход к распределению ресурсов для оптимальной маршрутизации в беспроводных ячеистых сетях IoT»// IEEE Access(Q1). <a href="https://doi.org/10.1109/ACCESS.2021.3123903" target="_blank">https://doi.org/10.1109/ACCESS.2021.3123903</a></td>
                    <td>Scopus Q1,WoS Q2</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td rowspan="8">2022</td>
                    <td>Омиргалиев Р., Жакиев Н.*, Айтбаева Н., Ахметбеков Ю. (2022). Применение методов машинного обучения для анализа потребления тепловой энергии по зонам с изменением температуры наружного воздуха: на примере города Нур-Султан. Международный журнал устойчивого развития и планирования,  изд. 17, № 4, с. 1247-1257. <a href="https://doi.org/10.18280/ijsdp.170423" target="_blank">https://doi.org/10.18280/ijsdp.170423</a></td>
                    <td>Scopus, Q2, 55%</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Жакиев Н.*, Каленова А. и Хамзина А. (2022). Энергетика столицы Казахстана: статус-кво и политика в отношении умного города. Международный журнал энергетической экономики и политики, 12(4), 414–423. <a href="https://doi.org/10.32479/ijeep.13126" target="_blank">https://doi.org/10.32479/ijeep.13126</a></td>
                    <td>Scopus Q1, 90%</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>З. Нурлан, Т. Жукабаева, М. Отман, А. Адамова и Н. Жакиев, «Беспроводная сенсорная сеть как ячеистая сеть: видение и проблемы», в IEEE Access, изд. 10, 46-67, 2022 <a href="https://doi.org/10.1109/ACCESS.2021.3137341" target="_blank">https://doi.org/10.1109/ACCESS.2021.3137341</a></td>
                    <td>Scopus Q1, WoS Q2</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>А. Сатана, А. Хамзина, Д. Токтарбаев, З. Социал, И. Бапиев, Н. Жакиев. «Сравнительные подходы машинного обучения LSTM и SVM для прогнозирования энергопотребления: пример в Акмолинской области», Международная конференция по интеллектуальным информационным системам и технологиям (SIST), 2022 г., Астана, 28 апреля 2022 г. (индексировано в IEEE, Scopus)</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Ахметжанов Б., Омар А., Нурлан З., Жакиев Н. «Интеграция системы видеонаблюдения в умный дом с помощью платформы Home Assistant» 2022 Международная конференция по интеллектуальным информационным системам и технологиям (SIST), Нур-Султан, 28 апреля 2022 г. (индексируется в IEEE, Scopus)</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Нурлан, З; Жукабаева, Т; и другие. Обнаружение неисправного узла для беспроводной сенсорной сети на основе векторов поддержки машин. Датчики МДПИ. Поданный:05.05.2022. Q2.</td>
                    <td>WoS Q2</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Архипкин О. и соавт. «Возможности автоматизации децентрализованного производства тепла г. Нур-Султан за счет перехода на ВИЭ» Вестник АУЭС (август 2022 г.). представлено в журнал КОКСОН</td>
                    <td>КОКСОН</td>
                </tr>
                
            </tbody>
        </table>
    </div>


<div id="footer"></div>
</body>
</html>