.team-member-image {
  /* change px to vw or vh to be responsive 15vw or percents;*/
  /* width: 50%;
  height: 50%; */
  /* change margin of image to padding */
  width: 200px;
  height: 200px;
}

.banner-content {
  height: 100vh;
  background-color: rgba(11, 150, 243, 0.8);
  background-image: url("../img/banners/smart_city.png");
  background-size: cover;
  background-position: center;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

#slogan {
  position: relative;
}

.glow-text {
  color: white;
  text-shadow: 0 0 30px rgba(11, 150, 243, 0.6);
}
