<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../new-energylab/static/img/icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/hm-publications.css">

    <title>Publications</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 

</head>
<body>
    <!-- Navbar -->
    <div id="navbar"></div>

    
    <div class="container_pb"  style="height: 60%;">
        <table> 
            <tbody>
                <tr>
                    <th>№</th>
                    <th>Year</th>
                    <th>Article</th>
                    <th>Journal</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td rowspan="4">2021</td>
                    <td> Omirgaliyev, R., Salkenov, A, Bapiyev, I, Zhakiyev N. (2021, December). Industrial Application of Machine Learning Clustering for a Combined Heat and Power Plant: A Pavlodar Case Study</td>
                    <td>UkrMiCo</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Sotsial Zh., Zhakiv N., Omirgaliyev R., Application of modeling and machine learning methods for optimal planning of the composition of generating equipment of CHPP</td>
                    <td>Collection of Abstracts of the Forum of Young Scientists</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Arkhipkin O.O., Kibarin A.A., Zhakiev N.K. An integrated approach to optimizing fuel combustion at coal-fired power plants in Kazakhstan</td>
                    <td>KOKSON</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Zhakiyev N., Sotsial Zh., Salkenov A., Omirgaliyev R. Set of the Data for Modeling large-scale Coal-Fired Combined Heat and Power Plant in Kazakhstan </td>
                    <td>Data in Brief Q3</td>
                </tr>

            </tbody>
        </table>
    </div>


<div id="footer"></div>

</body>
</html>