<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHPP-1</title>
    <link rel="stylesheet" href="../static/css/chpp.css">
    <link rel="stylesheet" href="../static/css/hybrid-modeling.css">
    <link rel="icon" href="../static/img/icon.ico">

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
</head>
<body>

    <div id="navbar"></div>

    <div class="banner">
        <div class="slogan">
            <h3> Application of modeling methods and machine learning for optimal planning of the composition of the generating equipment of the Pavlodar CHPP-1</h3>
        </div>
    </div>

<div class="info-section-up">
    <div>
        <h1>Tasks</h1>
            <ul>
                <li>Collection and processing of telemetry data, ranges of operating modes, weather, digitization of processes, diagrams and drawings.</li>
                <li>Modeling of CHP and development of a machine learning algorithm for planning (short-term and long-term) maintenance and repairs of equipment.</li>
                <li>Development of recommendations for improving energy efficiency, for managing the reliability of CHP plants based on the Decision Tree.</li>
            </ul>
    </div>

    <div>
        <h1>Aim</h1>
        <ul>
            The purpose is to study the potential for improving the energy efficiency of CHPPs, reducing greenhouse gas emissions and applying modeling and machine learning methods for optimal planning of the composition of the generating equipment of the CHPP in Pavlodar, Kazakhstan.
        </ul>
    </div>
</div>


<div class="info">

    <div>
       <h1>Project relevance:</h1>
       This study is important for the applied testing of methods for processing big data using machine learning methods coming from an industrial facility that generates electricity, heat, and industrial steam. Pavlodar CHPP is special in that it is located in the northern zone of Kazakhstan, and has two different consumers - an aluminum plant and the population. The complexity in the variability of the consumption profile requires the use of modern methods of predictive planning of the composition of generating equipment for the day, week, year ahead. The long service life of the units, the hours worked, requires constant adjustment of the repair plan for the year ahead. It is necessary to take into account the curve of dynamic demand for heat and electricity by forecasting methods depending on the weather, the variability of heat and electricity consumption is changed by probabilistic laws based on historical data on consumption of the population.
    </div>
    <div>
        <h1> Results</h1>
        In the process of working on a scientific project, a quantitative analysis of the data from CHPP-1 of Aluminum of Kazakhstan JSC was carried out. Various levels of loading of aggregates were analyzed, data clustering was carried out. A CHP model has been developed in the GAMS environment for optimal medium-term planning of the composition of generating equipment for the day ahead. The numerical results of the ARIMA and Decision Tree models show that the effectiveness of the proposed approach is manifested with a large uncertainty in demand, when the operating costs of the system and fuel consumption increase due to unplanned changes in generation. The advantages of the proposed model lie in the modeling of uncertainties in solving the stochastic long-term problem of choosing the composition of generating units. The developed algorithms can be used for other similar CHPPs.
    </div>
    
</div>



    <!-- Team -->



    <div class="carousel-container">
        <h1>Meet The <strong>Team</strong></h1>
    
      <div class="carousel-track" onclick="openWindow('chpp-team.html') ">
        <div class="carousel-slide">
          <!-- Team member 1 -->
          <div class="team-member">
            <img src="../static/img/team/Zhakiyev.png" alt="Team Member 1">
            <h3>Zhakiev Nurkhat Kuandykovich</h3>
            <p>PhD in Physics</p>
          </div>
        </div>
        <div class="carousel-slide">
          <!-- Team member 2 -->
          <div class="team-member">
            <img src="../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Omirgaliev Ruslan</h3>
            <p> Master in Electrical Engineering</p>
          </div>
        </div>
        <div class="carousel-slide">
          <!-- Team member 3 -->
          <div class="team-member">
            <img src="../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Salkenov Aldiyar Kanatovich</h3>
            <p>Master of Information Technology</p>
          </div>
        </div>
    
        <div class="carousel-slide">
          <!-- Team member 4 -->
          <div class="team-member">
            <img src="../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Social Zhuldyz Zheniskyzy</h3>
            <p>Master of Mechanical and Aerospace Engineering</p>
          </div>
        </div>
        
        <!-- Add more carousel-slide divs for additional members -->
      </div>
    
      <div class="pseudo-btns">
        <div class="carousel-prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
    
        <div class="carousel-next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
    
      </div>
    </div>



    <div id="footer"></div>


    <script>

        function openWindow(link){
          window.location.replace(link);
        }

        document.addEventListener('DOMContentLoaded', function() {
        const track = document.querySelector('.carousel-track');
        const slides = Array.from(document.querySelectorAll('.carousel-slide'));
        const prevButton = document.querySelector('.carousel-prev');
        const nextButton = document.querySelector('.carousel-next');

        let slideIndex = 0;
        const slidesPerView = 3; // Number of members per slide

        function updateCarousel() {
            const slideWidth = 100 / slidesPerView;
            track.style.transform = `translateX(-${slideIndex * slideWidth}%)`;

            prevButton.disabled = slideIndex === 0;
            nextButton.disabled = slideIndex >= slides.length - slidesPerView;
        }

        function slidePrev() {
            slideIndex = Math.max(0, slideIndex - 2);
            updateCarousel();
        }

        function slideNext() {
            slideIndex = Math.min(slideIndex +2, slides.length - slidesPerView);
            updateCarousel();
        }

        prevButton.addEventListener('click', slidePrev);
        nextButton.addEventListener('click', slideNext);

        updateCarousel();
        });
    </script>
    
</body>
</html>