<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../static/img/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/team.css">

    <title>Team</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
    <title>Team</title>
</head>
<body>

    <div id="navbar"></div>

    <div class="container" id="team">
        <h1>Team</h1>
    </div>

    <div class="container">
        <div class="grid-box">
            <div class="white-box flex">
                <img src="../static/img/team/Zhakiyev.png" alt="">
                <div><h2>Zhakiev Nurkhat</h2><br><br>Head of Subtask RP-3. He is engaged in computer modeling of energy systems, predicting industrial greenhouse gas emissions, and climate change mitigation analytics. His main research topic is mathematical and computer modeling of physical processes, optimization and matrix algebra methods, and modeling in the GAMS environment. h-index=4</div>
            </div>

            <div class="white-box flex">
                <img src="../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Omirgaliev Ruslan
                </h2><br><br>
                Junior researcher, education: master of electrical engineering.
                <br>
                Scientific interests: physics, mathematics, programming, data analytics
            </div>
            </div>

            <div class="white-box flex">
                <img src="../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Salkenov Aldiyar Kanatovich</h2><br><br>
                    Junior researcher, education: master of information technology.
                    <br>
                    Research interests: web development, data analytics
                </div>
            </div>

            <div class="white-box flex">
                <img src="../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Social Zhuldyz Zheniskyzy</h2><br><br>
                    Junior researcher, education: master of information technology.
                        <br>
                    Research interests: web development, data analytics
                </div>
            </div>

        </div>
    </div>

    
<div id="footer"></div>

</body>
</html>