<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../new-energylab/static/img/icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/hm-publications.css">

    <title>Publications</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("hm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 

</head>
<body>
    <!-- Navbar -->
    <div id="navbar"></div>

    
    <div class="container_pb">
        <table> 
            <tbody>
                <tr>
                    <th>№</th>
                    <th>Year</th>
                    <th>Article</th>
                    <th>Journal</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2021</td>
                    <td> <a href="https://ieeexplore.ieee.org/abstract/document/9465892">  S. Zhakiyeva, M. Gabbassov, Y. Akhmetbekov, G. Akybayeva and N. Zhakiyev, "The Development of a Risk Assessment Modeling for the Power System of Kazakhstan," 2021 IEEE International Conference on Smart Information Systems and Technologies (SIST), 2021, pp. 1-4, </a> doi: 10.1109/SIST50301.2021.9465892</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td rowspan="6">2022</td>
                    <td><a href="https://www.mdpi.com/1996-1073/15/7/2404"> Amanbek Y., Kalakova A., Zhakiyeva S., Korhan K., Zhakiyev N., Fridrich D. "Distribution-LMP based Transactive Energy Management in Distribution Systems with Smart Prosumers - A Multi-Agent Approach"</a> </td>
                    <td>WoS, Scopus-Q1</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td><a href="https://www.researchgate.net/publication/358505657_Maximum_power_tracking_of_variable-speed_wind_energy_conversion_systems_based_on_a_near-optimal_servomechanism_control_system">  B. Sarsembayev, D. Zholtayev, and Ton Duc Do, Maximum Power Tracking of Variable-Speed Wind Energy Conversion Systems based on a Near-Optimal Servomechanism Control System // Optimal Control Applications and Methods </a> </td>
                    <td>WoS, Q2</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td><a href="https://www.ijrer.org/ijrer/index.php/ijrer/article/view/13195"> A. Zhanbolatov, S. Zhakiyeva, N. Zhakiyev, K. Kayisli (2022) "Blockchain-Based Decentralized Peer-to-Peer Negawatt Trading in Demand-Side Flexibility Driven Transactive Energy System" International Journal of Renewable Energy Research (IJRER), 12(3), 1475-1483.</a> doi:10.20508/ijrer.v12i3.13195.g8530 </td>
                    <td>Scopus percentile 58, Q2</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td><a href="https://ieeexplore.ieee.org/document/9848769/"> B. Sarsembayev, N. Zhakiyev, A. Akhmetbayev and K. Kayisli, "Servomechanism based Optimal Control System Design for Maximum Power Extraction from WECS with PMSG," 2022 10th International Conference on Smart Grid </a> </td>
                    <td>icSmartGrid</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td><a href="https://ieeexplore.ieee.org/document/9922874"> A. Zhanbolatov, N. Zhakiyev, S. Zhakiyeva, K. Kayisli, B.Azibek, T.Dushayeva.  “A Multi-carrier Energy Method for Self-Consumption Enhancement in Residential Buildings " </a></td>
                    <td>11th ICRERA</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td> <a href="https://link.springer.com/chapter/10.1007/978-3-031-29831-8_5"> G.Abdi, N.Zhakiyev, and S.Toilybayeva "Decarbonization Opportunities and Emerging Carbon Pricing Instruments in Central Asia"  </a> </td>
                    <td>Chapter in Springer's eBook</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>2023</td>
                    <td> <a href="https://www.mdpi.com/1996-1073/16/13/5142"> Aidyn Bakdolotov, Rocco De Miglio, Nurkhat Zhakiyev. Optimization modelling of the decarbonization scenario of the total energy system of Kazakhstan until 2060 </a> </td>
                    <td>Energies</td>
                </tr>
            </tbody>
        </table>
    </div>


<div id="footer"></div>
</body>
</html>