<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/smart-city.css">
    <link rel="icon" href="../static/img/icon.ico">
s
    <title>About</title>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
         $(function(){
        $("#navbar").load("pm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
</script> 
</head>
<body>
    <div id="navbar"></div>
    <div class="tag">
        <h1>About</h1>
    </div>
    <div class="info">
        <div style="font-size: 1.2em;text-align: justify;">
            The purpose of the project: to study and analyze ways to form an effective tariff policy and new market mechanisms in the electric power industry of Kazakhstan with an increase in the share of renewable energy sources (RES) and digitalization of the sector by comparing different development scenarios; development of software or a web platform for the efficient operation of an electricity sales operator.
The integration of renewable energy into energy systems has been made possible by the development of the power grid infrastructure, demand management measures (installation of multi-tariff meters and flexibility in electricity prices), the development of energy storage technologies, as well as industry cooperation and flexible generation of electricity in traditional power plants. At the same time, the success in the development of RES and the rapid increase in its share in the energy balance were associated with large-scale state support provided to new technologies in developed countries. Purchases of green electricity at higher prices, subsidies to companies switching to the use of new technologies, significantly helped the industry in the early stages of development.
The novelty of the study lies in the testing and integration of new systemic market mechanisms for the development of the electricity market with modern types of renewable energy sources and energy storage devices with computer scenario modeling tools.
The research team will apply modern IT approaches in the field of scenario analysis and multi-agent modeling to form a new tariff policy in the electricity market. As a result of the project, it is expected to develop an optimization model of the Kazakhstani electricity market for testing and formation of a new tariff policy with a mechanism of transparent auctions between all participants.
The scientific supervisor of the project is N.K. Zhakiev (PhD in physics). 
</div>
    </div>

    <div id="footer"></div>
    
</body>
</html>