<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../static/img/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/team.css">

    <title>Team</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
    <title>Команда</title>
</head>
<body>

    <div id="navbar"></div>

    <div class="container" id="team">
        <h1>Команда</h1>
    </div>

    <div class="container">
        <div class="grid-box">
            <div class="white-box flex">
                <img src="../../static/img/team/Zhakiyev.png" alt="">
                <div><h2>Жакиев Нурхат Куандыкович, Кандидат физико-математических наук</h2><br><br>Руководитель подзадачи РП-3. Занимается компьютерным моделированием энергетических систем, прогнозированием промышленных выбросов парниковых газов и аналитикой смягчения последствий изменения климата. Основная тема его исследований — математическое и компьютерное моделирование физических процессов, методы оптимизации и матричной алгебры, моделирование в среде GAMS. h-index=4</div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Омиргалиев Руслан
                </h2><br><br>
                Младший научный сотрудник, образование: магистр электротехники.
                <br>
                Научные интересы: физика, математика, программирование, аналитика данных
            </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Салкенов Алдияр Канатович</h2><br><br>
                    Младший научный сотрудник, образование: магистр информационных технологий.
                    <br>
                    Научные интересы: веб-разработка, аналитика данных
                </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Социал Жулдыз Женискызы</h2><br><br>
                    Младший научный сотрудник, образование: магистр информационных технологий.
                        <br>
                    Научные интересы: веб-разработка, аналитика данны
                </div>
            </div>

        </div>
    </div>

    
<div id="footer"></div>

</body>
</html>