<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../new-energylab/static/img/icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/team.css">
    
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("hm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
    <title>Команда</title>
</head>
<body>

    <div id="navbar"></div>

    <div class="container" id="team">
        <h1>Команда</h1>
    </div>

    <div class="container">
        <div class="grid-box">
            <div class="white-box flex">
                <img src="../../static/img/team/Zhakiyev.png" alt="">
                <div><h2>Жакиев Нурхат Куандыкович, Кандидат физико-математических наук</h2><br><br>Руководитель подзадачи РП-3. Занимается компьютерным моделированием энергетических систем, прогнозированием промышленных выбросов парниковых газов и аналитикой смягчения последствий изменения климата. Основная тема его исследований — математическое и компьютерное моделирование физических процессов, методы оптимизации и матричной алгебры, моделирование в среде GAMS. h-index=4, https://www.scopus.com/authid/detail.uri?authorId=56043145000 <a href="https://www.scopus.com/authid/detail.uri?authorId=56043145000">https://www.scopus.com/authid/detail.uri?authorId=56043145000</a></div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Sarsembayev.png" alt="">
                <div><h2>Баянды Сарсембаев</h2><br>
                    Получил квалификацию специалиста по железнодорожной автоматике и управлению с присвоением степени кандидата технических наук по эксплуатации транспорта в Казахской академии транспорта и коммуникаций, г. Алматы, Казахстан, в 2000 и 2005 годах соответственно. Он получил степень магистра наук. степень в области систем и систем управления Лондонского городского университета, Лондон, Великобритания, в 2015 году. Он получил докторскую степень. степень в области электротехники и исследований в области электроники, Лондонский университет Брунеля, Великобритания, февраль, 2023. </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Ten.png" alt="">
                <div><h2>Александр Тен</h2><br>
                    Александр Тен получил степень магистра инженерии в области электротехники и вычислительной техники в Университете Британской Колумбии, Ванкувер, Канада, в 2021 году по программе «Болашак». В 2008 году получил степень бакалавра по специальности «Автоматика и управление» Карагандинского государственного технического университета, г. Караганда, Казахстан.
                </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Akhmetov.png" alt="">
                <div><h2>Ахметов Ербол</h2><br>
                    Получил степень бакалавра наук. и магистр наук. степень в области электротехники и электронной техники в Назарбаев Университете, Астана, Казахстан, в 2017 и 2019 годах соответственно. В настоящее время он проводит исследования в качестве исследователя в Департаменте науки и инноваций Астанинского ИТ-университета (Астана, Казахстан) и в Департаменте электротехники и вычислительной техники Назарбаев Университета (Астана, Казахстан). Его исследовательские интересы включают анализ частотных характеристик трансформаторов, моделирование трансформаторов, диагностику изоляторов с использованием компьютерного зрения и машинного обучения, проектирование аналоговых схем, передачу электроэнергии и моделирование энергии.    
                </div>
            </div>

        </div>
    </div>

    
<div id="footer"></div>

</body>
</html>