<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../static/img/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/team.css">

    <title>Жоба Мүшелері</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
</head>
<body>

    <div id="navbar"></div>

    <div class="container" id="team">
        <h1>Жоба Мүшелері</h1>
    </div>

    <div class="container">
        <div class="grid-box">
            <div class="white-box flex">
                <img src="../../static/img/team/Zhakiyev.png" alt="">
                <div>
                    <h2>Жақиев Нұрхат</h2><br>
                    Ғылыми жетекші. Энергетикалық жүйелерді компьютерлік модельдеумен, өнеркәсіптік парниктік газдар шығарындыларын болжаумен және климаттың өзгеруін азайтуды талдаумен айналысады. Зерттеу жұмысының негізгі тақырыбы физикалық процестерді математикалық және компьютерлік модельдеу, оңтайландыру әдістері және матрицалық алгебра, GAMS ортасында модельдеу. h-index=4, https://www.scopus.com/authid/detail.uri?authorId=56043145000 <a href="https://www.scopus.com/authid/detail.uri?authorId=56043145000">https://www.scopus.com/authid/detail.uri?authorId=56043145000</a>
                </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Өмірғалиев Руслан
                </h2><br><br>
                Кіші ғылыми қызметкер, білімі: электротехника магистрі.
                <br>
                Ғылыми қызығушылықтары: физика, математика, бағдарламалау, деректерді талдау
            </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Салкенов Алдияр Қанатұлы</h2><br><br>
                    Кіші ғылыми қызметкер, білімі: ақпараттық технология магистрі.
                    <br>
                    Ғылыми қызығушылықтары: веб-әзірлеу, деректерді талдау
                </div>
            </div>

            <div class="white-box flex">
                <img src="../../static/img/team/Unknown_person.jpeg" alt="">
                <div><h2>Социал Жұлдыз Жеңісқызы</h2><br><br>
                    Кіші ғылыми қызметкер, білімі: ақпараттық технология магистрі.
                        <br>
                    Ғылыми қызығушылықтары: веб-әзірлеу, деректерді талдау
                </div>
            </div>

        </div>
    </div>

    
<div id="footer"></div>

</body>
</html>