<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHPP-1</title>
    <link rel="stylesheet" href="../../static/css/chpp.css">
    <link rel="stylesheet" href="../../static/css/hybrid-modeling.css">
    <link rel="icon" href="../../static/img/icon.ico">

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("chpp-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
</head>
<body>

    <div id="navbar"></div>

    <div class="banner">
        <div class="slogan">
            <h3> Павлодар ЖЭО-1 генерациялайтын жабдықтың құрамын оңтайлы жоспарлау үшін модельдеу әдістерін және машиналық оқытуды қолдану</h3>
        </div>
    </div>


<div class="info-section-up">
    <div>
        <h1>Тапсырмалар</h1>
            <ul>
                <li>Телеметриялық мәліметтерді, жұмыс режимдерінің диапазондарын, ауа райын, процестерді цифрлау, диаграммалар мен сызбаларды жинау және өңдеу.</li>
                <li>ЖЭО модельдеу және жабдыққа техникалық қызмет көрсету мен жөндеуді жоспарлау (қысқа мерзімді және ұзақ мерзімді) үшін машиналық оқыту алгоритмін жасау.</li>
                <li>Шешім ағашы негізінде энергия тиімділігін арттыру, ЖЭО қондырғыларының сенімділігін басқару бойынша ұсыныстар әзірлеу.</li>
            </ul>
    </div>

    <div>
        <h1>Мақсат</h1>
        <ul>
          Мақсаты – Қазақстанның Павлодар қаласындағы ЖЭО-ның генерациялайтын жабдықтарының құрамын оңтайлы жоспарлау үшін ЖЭО энергия тиімділігін арттыру, парниктік газдар шығарындыларын азайту және модельдеу және машиналық оқыту әдістерін қолдану әлеуетін зерттеу.
        </ul>
    </div>
</div>


<div class="info">

    <div>
       <h1>Жобаның өзектілігі:</h1>
       Бұл зерттеу электр энергиясын, жылуды және өнеркәсіптік буды өндіретін өнеркәсіптік нысаннан келетін машиналық оқыту әдістерін қолдана отырып, үлкен деректерді өңдеу әдістерін қолданбалы сынау үшін маңызды. Павлодар ЖЭО Қазақстанның солтүстік аймағында орналасуымен ерекше, екі түрлі тұтынушы – алюминий зауыты және халық. Тұтыну профилінің өзгермелілігінің күрделілігі генерациялайтын жабдықтың құрамын алдағы күн, апта, жыл үшін болжамды жоспарлаудың заманауи әдістерін қолдануды талап етеді. Агрегаттардың ұзақ қызмет ету мерзімі, жұмыс істеген сағаттары алдағы жылға жөндеу жоспарын үнемі түзетуді талап етеді. Ауа-райына байланысты болжау әдістерімен жылу мен электр энергиясына динамикалық сұраныс қисығын ескеру қажет, жылу мен электр энергиясын тұтынудың өзгермелілігі халықтың тұтынуы туралы тарихи деректерге негізделген ықтималдық заңдармен өзгертіледі.
    </div>
    <div>
        <h1>Нәтижелер</h1>
        Ғылыми жобамен жұмыс істеу барысында «Қазақстан алюминийі» АҚ ЖЭО-1 деректеріне сандық талдау жүргізілді. Агрегаттарды жүктеудің әртүрлі деңгейлері талданды, деректерді кластерлеу жүргізілді. Алдағы күнге генерациялайтын жабдықтың құрамын оңтайлы орта мерзімді жоспарлау үшін GAMS ортасында ЖЭО моделі әзірленді. ARIMA және Шешім ағашы үлгілерінің сандық нәтижелері ұсынылған тәсілдің тиімділігі генерацияның жоспарланбаған өзгеруіне байланысты жүйенің операциялық шығындары және отын шығыны артқан кезде сұраныстың үлкен белгісіздігімен көрінетінін көрсетеді. Ұсынылған модельдің артықшылығы генерациялайтын қондырғылардың құрамын таңдаудың стохастикалық ұзақ мерзімді мәселесін шешудегі белгісіздіктерді модельдеуде жатыр. Әзірленген алгоритмдерді басқа ұқсас ЖЭО үшін пайдалануға болады.
    </div>
    
</div>

    <div class="carousel-container">
        <h1>Жоба <strong>Мүшелері</strong></h1>
    
      <div class="carousel-track" onclick="openWindow('chpp-team.html') ">
        <div class="carousel-slide">
          <!-- Team member 1 -->
          <div class="team-member">
            <img src="../../static/img/team/Zhakiyev.png" alt="Team Member 1">
            <h3>Жақиев Нұрхат Қуандықұлы</h3>
          <p>Физика ғылымдарының докторы</p>

          </div>
        </div>
        <div class="carousel-slide">
          <!-- Team member 2 -->
          <div class="team-member">
            <img src="../../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Өмірғалиев Руслан</h3>
            <p>Электротехника магистрі</p>
          </div>
        </div>
        <div class="carousel-slide">
          <!-- Team member 3 -->
          <div class="team-member">
            <img src="../../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Салкенов Алдияр Қанатұлы</h3>
            <p>Ақпараттық технологиялар магистрі</p>
          </div>
        </div>
    
        <div class="carousel-slide">
          <!-- Team member 4 -->
          <div class="team-member">
            <img src="../../static/img/team/Unknown_person.jpeg" alt="Team Member 1">
            <h3>Социал Жұлдыз Жеңісқызы</h3>
            <p>Машина және аэроғарыштық инженерия магистрі</p>
          </div>
        </div>
        
      </div>
    
      <div class="pseudo-btns">
        <div class="carousel-prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
    
        <div class="carousel-next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
    
      </div>
    </div>



    <div id="footer"></div>


    <script>

        function openWindow(link){
          window.location.replace(link);
        }

        document.addEventListener('DOMContentLoaded', function() {
        const track = document.querySelector('.carousel-track');
        const slides = Array.from(document.querySelectorAll('.carousel-slide'));
        const prevButton = document.querySelector('.carousel-prev');
        const nextButton = document.querySelector('.carousel-next');

        let slideIndex = 0;
        const slidesPerView = 3; // Number of members per slide

        function updateCarousel() {
            const slideWidth = 100 / slidesPerView;
            track.style.transform = `translateX(-${slideIndex * slideWidth}%)`;

            prevButton.disabled = slideIndex === 0;
            nextButton.disabled = slideIndex >= slides.length - slidesPerView;
        }

        function slidePrev() {
            slideIndex = Math.max(0, slideIndex - 2);
            updateCarousel();
        }

        function slideNext() {
            slideIndex = Math.min(slideIndex +2, slides.length - slidesPerView);
            updateCarousel();
        }

        prevButton.addEventListener('click', slidePrev);
        nextButton.addEventListener('click', slideNext);

        updateCarousel();
        });
    </script>
    
</body>
</html>