<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../static/img/icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/hm-publications.css">

    <title>Жарияланымдар</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("hm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 

</head>
<body>
    <!-- Navbar -->
    <div id="navbar"></div>

    
    <div class="container_pb">
        <table> 
            <tbody>
                <tr>
                    <th>№</th>
                    <th>Жыл</th>
                    <th>Мақала</th>
                    <th>Журнал</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2021</td>
                    <td> <a href="https://ieeexplore.ieee.org/abstract/document/9465892"> С.Жакиева, М.Ғаббасов, Е.Ахметбеков, Г.Ақыбаева және Н.Жақиев, «Қазақстанның энергетикалық жүйесі үшін тәуекелді бағалау моделін әзірлеу», 2021 IEEE Smart ақпараттық жүйелер мен технологиялар бойынша халықаралық конференциясы (SIST), 2021, 1-4 беттер </a> doi: 10.1109/SIST50301.2021.9465892</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td rowspan="6">2022</td>
                    <td><a href="https://www.mdpi.com/1996-1073/15/7/2404"> Аманбек Ы., Қалакова А., Жакиева С., Қорхан Қ., Жақиев Н., Фридрих Д. «Ақылды тұтынушылармен тарату жүйелеріндегі Distribution-LMP негізіндегі транзакциялық энергияны басқару – көп агенттік көзқарас»</a> </td>
                    <td>WoS, Scopus-Q1</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td><a href="https://www.researchgate.net/publication/358505657_Maximum_power_tracking_of_variable-speed_wind_energy_conversion_systems_based_on_a_near-optimal_servomechanism_control_system"> Б.Сарсембаев, Д.Жолтаев және Тон Дук До, Сервомеханизмді басқарудың оңтайлы жүйесіне негізделген ауыспалы жылдамдықтағы жел энергиясын түрлендіру жүйелерінің максималды қуатын қадағалау // Оңтайлы басқару қолданбалары мен әдістері </a> </td>
                    <td>WoS, Q2</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td><a href="https://www.ijrer.org/ijrer/index.php/ijrer/article/view/13195"> Ә.Жанболатов, С.Жақиева, Н.Жақиев, Қ.Қайысли (2022) «Блокчейн негізіндегі орталықтандырылмаған тең-теңімен негаватт саудасы сұранысқа негізделген икемділікке негізделген трансактивті энергия жүйесінде» Халықаралық жаңартылатын энергияны зерттеу журналы (IJRER), 12(3), 1475-1483.</a> doi:10.20508/ijrer.v12i3.13195.g8530 </td>
                    <td>Scopus перецентиль 58, Q2</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td><a href="https://ieeexplore.ieee.org/document/9848769/"> Б.Сарсембаев, Н.Жақиев, А.Ахметбаев және Қ.Қайысли, «ПМСГ көмегімен WECS-тен максималды қуат алу үшін сервомеханизмге негізделген оңтайлы басқару жүйесінің дизайны», 2022 10-шы Smart Grid бойынша халықаралық конференция</a> </td>
                    <td>icSmartGrid</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td><a href="https://ieeexplore.ieee.org/document/9922874"> Ә.Жанболатов, Н.Жақиев, С.Жақиева, Қ.Қайыслы, Б.Әзібек, Т.Душаева. «Тұрғын үйлердегі өзін-өзі тұтынуды арттыруға арналған көп тасымалдаушы энергия әдісі» </a></td>
                    <td>11-ші ICRERA</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td> <a href="https://link.springer.com/chapter/10.1007/978-3-031-29831-8_5">Ғ.Әбди, Н.Жакиев және С.Тойлыбаева «Орталық Азиядағы көміртектерді декарбонизациялау мүмкіндіктері және жаңадан пайда болған баға белгілеу құралдары» </a> </td>
                    <td>Springer электронды кітабындағы тарау</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>2023</td>
                    <td> <a href="https://www.mdpi.com/1996-1073/16/13/5142">Айдын Бақдолотов, Рокко Де Миглио, Нұрхат Жақиев. Қазақстанның 2060 жылға дейінгі жалпы энергетикалық жүйесінің декарбонизация сценарийін оңтайландыру модельдеу </a> </td>
                    <td>Energies</td>
                </tr>
            </tbody>
        </table>
    </div>


<div id="footer"></div>
</body>
</html>