<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электроэнергетикалық нарық</title>
    <link rel="stylesheet" href="../../static/css/power-market.css">
    <link rel="stylesheet" href="../../static/css/hybrid-modeling.css">
    <link rel="icon" href="../../static/img/icon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("pm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
</head>
<body>

    <div id="navbar"></div>

    <div class="banner">
        <div class="slogan">
            <h3>Жаңғыртылатын энергияның жоғары үлесін қамтамасыз ететін жаңа нарық модель мен тарифтік саясатты қалыптастыру үшін Қазақстанның электр жүйесін модельдеу және цифрландыру</h3>
        </div>
    </div>
    <br>
    <div class="name_of_project">
      <h3>Жтн AP19579354<br>
       <br> Деректі тіркеу нөмірі 0123РК00127<br>
        <br>Қазақстан Республикасының ғылым және жоғары білім министрлігі
        <br>2023-2025 жылдарға арналған ғылыми және (немесе) ғылыми-техникалық жобалар бойынша жас ғалымдарға гранттық қаржыландыруға арналған конкурсы (Қазақстан Республикасы ғылым және жоғары білім министрлігі)</h3>
    </div>
<!-- 
<div class="info-section-up">
    <div>
        <h1>Tasks</h1>
            <ul>
                <li>Collection and processing of telemetry data, ranges of operating modes, weather, digitization of processes, diagrams and drawings.</li>
                <li>Modeling of CHP and development of a machine learning algorithm for planning (short-term and long-term) maintenance and repairs of equipment.</li>
                <li>Development of recommendations for improving energy efficiency, for managing the reliability of CHP plants based on the Decision Tree.</li>
            </ul>
    </div>s

    <div>
        <h1>Aim</h1>
        <ul>
            The purpose is to study the potential for improving the energy efficiency of CHPPs, reducing greenhouse gas emissions and applying modeling and machine learning methods for optimal planning of the composition of the generating equipment of the CHPP in Pavlodar, Kazakhstan.
        </ul>
    </div>

</div> -->

<div class="info-section">
  <div>
      <h1>Мақсаты</h1>
          <ul>
              <li>Қазақстанның электр энергетикасында жаңартылатын энергия көздері (ЖЭК) үлесін арттыру және әртүрлі даму сценарийлерін салыстыру арқылы секторды цифрландыру арқылы тиімді тарифтік саясатты және жаңа нарықтық тетіктерді қалыптастыру жолдарын зерделеу және талдау; тұтынушыларға электр энергиясын жеткізу бойынша оператордың тиімді жұмыс істеуі үшін бағдарламалық қамтамасыз етуді немесе веб-платформаны әзірлеу.</li>
          </ul>
  </div>

  <div>
      <h1>Тапсырмалар</h1>
      <ul>
          <li>Дамыған елдердің тәжірибесін зерделеу арқылы электр энергиясы нарығының қолданыстағы үлгілерін талдау. Жаңа үлгілерді тәжірибеде қолдану және оны Қазақстанның электр энергиясы нарығына бейімдеу </li>
          <li>Электр энергиясының әртүрлі бағалары бойынша сценарийлерді талдау үшін негізгі веб-платформаны әзірлеу. Энергия сақтау құрылғыларын пайдаланбай/пайдаланбай, Оңтайландыру/агент негізіндегі ЖЭК модельдеу арқылы баға әрекетін салыстырмалы талдау. </li>
          <li>Орта және ұзақ мерзімді кезеңге арналған орталықтандырылған электр энергиясының саудасын оңтайландыру модельдеу. Аукционға қатысушыларға арналған веб-платформаның прототипі.</li>
      </ul>
  </div>

  <div>
      <h1>Көзделген нәтижелер</h1>
      <ul>
          <li>PYPSA бойынша әрбір элементтің егжей-тегжейлі сипаттамасы бар Қазақстанның электр энергиясы нарығына арналған жаңа құрылымдық деректер базасы. Кемінде 1 (бір) мақаланың жариялануы немесе КОКСОН ұсынған рецензияланған шетелдік немесе отандық басылымда шолуы.</li>
          <li>Энергия сақтау құрылғыларын пайдаланбай/пайдаланбай, ЖЭК-тен электр энергиясына сұраныс/жеткізудің әртүрлі сценарийлерін модельдеу және модельдеу. Оңтайландыру және агент негізіндегі модельдеу әдістерін қолдану. Web of Science дерекқорының Expanded Science Citation Index жүйесінде индекстелген және (немесе) CiteScore пайыздық көрсеткіші бар жобаның ғылыми бағыты бойынша рецензияланған ғылыми басылымдарда кемінде 2 (екі) мақаланың және (немесе) шолулардың жариялануы. кемінде 35 (отыз бес) Scopus дерекқоры.</li>
          <li>смарт-келісімшарттарды қолдану арқылы орта мерзімді және ұзақ мерзімді сауданың компьютерлік моделі және оны оңтайландыру. Аукционға қатысушыларға арналған веб-платформаның прототипі. Қазақстандағы тарифтік саясат пен электр энергиясы нарығын жетілдіру бойынша ұсыныстар.</li>
          <li>Web of Science дерекқорының Expanded Science Citation Index жүйесінде индекстелген және (немесе) CiteScore пайыздық көрсеткіші бар жобаның ғылыми бағыты бойынша рецензияланған ғылыми басылымдарда кемінде 1 (бір) мақаланың (немесе) рецензияның жариялануы. Scopus деректер базасы кемінде 35 (отыз бес). Сондай-ақ КОКСОН ұсынған рецензияланған шетелдік немесе отандық басылымда 1 (бір) мақаланы немесе шолуды жариялау.</li>
      </ul>
  </div>
</div>

<div class="name_of_map">Электр энергиялық станциялар интерактивті картасы</div>

<div class="inner-maps">
    <div id="parent">
        <iframe src="../../maps/energy_stations_map.html" frameborder="0" width="100%" height="100%"  id="map" ></iframe>
        <div id="buttons">
          <button onclick="energyStations()"  type="button" class="btn btn-primary" id="energy" >Энергия станцияларының сызықтары</button>
          <button onclick="commompp()" type="button" class="btn btn-secondary" id="common" >Электр станция түрлері</button>  
          <button onclick="wind()" type="button" class="btn btn-secondary" id="wind">Жел</button>
          <button onclick="coal()" type="button" class="btn btn-secondary" id="coal">Көмір</button>
          <button onclick="gas()" type="button" class="btn btn-secondary" id="gas">Газ</button>
          <button onclick="pv()" type="button" class="btn btn-secondary" id="pv">КБ</button>
          <button onclick="hydro()" type="button" class="btn btn-secondary" id="hydro">Гидро</button>
        </div>
      </div>
    </div>

</div>

<script type="text/javascript">  

    document.addEventListener('DOMContentLoaded', function() {
      // Обработчик клика на кнопки
document.querySelectorAll('.button').forEach(function(button) {
    button.addEventListener('click', function() {
        var content = this.getAttribute('data-content');
        openModal(content);
    });
});


      const track = document.querySelector('.carousel-track');
      const slides = Array.from(document.querySelectorAll('.carousel-slide'));
      const prevButton = document.querySelector('.carousel-prev');
      const nextButton = document.querySelector('.carousel-next');
    
      let slideIndex = 0;
      const slidesPerView = 3; // Number of members per slide
    
      function updateCarousel() {
        const slideWidth = 100 / slidesPerView;
        track.style.transform = `translateX(-${slideIndex * slideWidth}%)`;
    
        prevButton.disabled = slideIndex === 0;
        nextButton.disabled = slideIndex >= slides.length - slidesPerView;
      }
    
      function slidePrev() {
        slideIndex = Math.max(0, slideIndex - 2);
        updateCarousel();
      }
    
      function slideNext() {
        slideIndex = Math.min(slideIndex +2, slides.length - slidesPerView);
        updateCarousel();
      }
    
      prevButton.addEventListener('click', slidePrev);
      nextButton.addEventListener('click', slideNext);
    
      updateCarousel();
    }); 
    
    
          function openWindow(link){
                window.open(link);
            }
    
    
        btn_list = ['energy', 'common','wind','coal','gas','pv','hydro']
        
        function setSecondary(){
          for( i=0; i<btn_list.length; i++){
    
            document.getElementById(btn_list[i]).classList.remove('btn-primary');
            document.getElementById(btn_list[i]).classList.add('btn-secondary')  
          }
        }
    
    
        function energyStations(){
          document.getElementById("map").src= '../../maps/energy_stations_map.html'
          setSecondary()
          document.getElementById("energy").classList.add('btn-primary')
    
        }
    
        function wind(){
          document.getElementById("map").src= '../../maps/Wind_map.html'
          setSecondary()
          document.getElementById("wind").classList.add('btn-primary')
    
        }
    
        function gas(){
          document.getElementById("map").src= '../../maps/Gas_map.html'
          setSecondary()
          document.getElementById("gas").classList.add('btn-primary')
    
        }
    
        function coal(){
          document.getElementById("map").src= '../../maps/Coal_map.html'
          setSecondary()
          document.getElementById("coal").classList.add('btn-primary')
    
        }
    
        function pv(){
          document.getElementById("map").src= '../../maps/PV_map.html'
          setSecondary()
          document.getElementById("pv").classList.add('btn-primary')
    
        }
    
        function hydro(){
          document.getElementById("map").src= '../../maps/Hydro_map.html'
          setSecondary()
          document.getElementById("hydro").classList.add('btn-primary')
    
        }
    
        function commompp(){
          document.getElementById("map").src= '../../maps/Common_map.html'
          setSecondary()
          document.getElementById("common").classList.add('btn-primary')
    
        }
    

        

        
    </script> 

<style>
  /* Стили для рамки */
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .regions_buttons {
      margin-top: 20px;
  }

  .button {
      margin: 5px;
      padding: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
  }

  /* Стили для диаграммы и кнопки скачивания */
  .chart-container {
      margin-top: 20px;
      position: relative;
  }

  .download-button {
      position: relative;
      right: 10px;
      top: 10px;
  }

  /* Стили для описания */
  .chart-description {
      margin-top: 20px;
  }
</style>
</head>
<body>
<div class="container">
<div class="chart-description">
  <h2 id="chartTitle">Ақмола облысы</h2>
  <p id="chartDescription">Ақмола облысына сипаттама</p>
</div>
<div class="chart-container">
  <canvas id="chart" width="400" height="400"></canvas>
  <button id="downloadButton" class="download-button">диаграмманы жүктеу</button>
</div>
<div class="regions_buttons" id="regions_buttons">
  <button class="button" data-index="0">Ақмола облысы</button>
  <button class="button" data-index="1">Ақтөбе облысы</button>
  <button class="button" data-index="2">Алматы облысы</button>
  <button class="button" data-index="3">Атырау облысы</button>
  <button class="button" data-index="4">Шығыс Қазақстан облысы</button>
  <button class="button" data-index="5">Жамбыл облысы</button>
  <button class="button" data-index="6">Жетысу облысы</button>
  <button class="button" data-index="7">Батыс Қазақстан облысы</button>
  <button class="button" data-index="8">Қарағанда облысы</button>
  <button class="button" data-index="9">Қостанай облысы</button>
  <button class="button" data-index="10">Қызылорда облысы</button>
  <button class="button" data-index="11">Манғыстау облысы</button>
  <button class="button" data-index="12">Павлодар облысы</button>
  <button class="button" data-index="13">Солтүстік Қазақстан облысы</button>
  <button class="button" data-index="14">Түркістан облысы</button>
  <button class="button" data-index="15">Ұлытау облысы</button>
  <button class="button" data-index="16">Абай облысы</button>

  <!-- Добавьте кнопки для остальных областей -->
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const dataSets = [
  [0, 3, 0, 3, 1], // Данные для Акмолинской области
  [2, 1, 0, 0, 0], // Данные для Актюбинской области
  [1, 1, 3, 2, 3], // Данные для Алматинской области
  [5, 2, 0, 0, 0], // Данные для Атырауской области 
  [0, 0, 6, 2, 0], // Данные для Восточно-Казахстанской области
  [2, 2, 3, 0, 2], // Данные для Жамбулской области
  [0, 0, 7, 1, 0], // Данные для Жетысуской области 
  [2, 0, 0, 0, 0], // Данные для Западно-Казахстанской области
  [0, 0, 0, 9, 3], // Данные для Карагандинской области 
  [2, 1, 0, 1, 0], // Данные для Костанайской области 
  [5, 0, 0, 0, 4], // Данные для Кызылординской области
  [4, 1, 0, 0, 0], // Данные для Мангыстауской области 
  [0, 0, 0, 7, 0], // Данные для Павлодарской области 
  [0, 2, 1, 0, 0], // Данные для Северо-Казахстанской области 
  [2, 0, 3, 1, 5], // Данные для Туркестанской области 
  [1, 0, 0, 2, 1], // Данные для Улытауской области 
  [0, 1, 1, 1, 1], // Данные для Абайской области 

  // Добавьте данные для остальных областей в том же порядке
];

const ctx = document.getElementById('chart').getContext('2d');
const chart = new Chart(ctx, {
  type: 'doughnut', // Круговая диаграмма
  data: {
      datasets: [
          {
              data: dataSets[0], // Используйте данные для первой области по умолчанию
              backgroundColor: ['rgb(208, 208, 208)', 'rgb(80,200,120)', 'rgb(0, 191, 255)', 'rgb(0, 0, 0)', 'rgb(255,165,0)'], // Цвета секторов диаграммы
          },
      ],
      labels: ['Gas', 'Wind', 'Hydro', 'Coal','PV'], // Метки секторов
  },
  options: {
      responsive: false, // Отключить адаптивность размера диаграммы
      tooltips: {
          callbacks: {
              label: function (tooltipItem, data) {
                  // Отображение процентов цифрами внутри диаграммы
                  const dataset = data.datasets[tooltipItem.datasetIndex];
                  const total = dataset.data.reduce((previousValue, currentValue) => previousValue + currentValue);
                  const currentValue = dataset.data[tooltipItem.index];
                  const percentage = Math.round((currentValue / total) * 100);
                  return `${data.labels[tooltipItem.index]}: ${percentage}%`;
              },
          },
      },
  },
});

// Обработчик нажатия кнопок
const buttons = document.querySelectorAll('.button');
const chartTitle = document.getElementById('chartTitle');
const chartDescription = document.getElementById('chartDescription');

buttons.forEach((button, index) => {
  button.addEventListener('click', () => {
      // Измените данные в диаграмме и описание при нажатии на кнопку
      chart.data.datasets[0].data = dataSets[index];
      chart.update(); // Обновить диаграмму
      chartTitle.textContent = button.textContent;
      chartDescription.textContent = `Description for ${button.textContent}`;
  });
});

// Обработчик нажатия кнопки "Скачать диаграмму"
const downloadButton = document.getElementById('downloadButton');
downloadButton.addEventListener('click', () => {
  // Создайте снимок экрана диаграммы с использованием html2canvas
  html2canvas(document.querySelector(".chart-container")).then(function (canvas) {
      // Предлагаем пользователю выбрать формат и вводить имя файла
      const format = prompt("Select format (jpeg or png):");
      if (format && (format === "jpeg" || format === "png")) {
          const fileName = prompt("Enter file name:") || "chart";

          // Преобразуйте снимок экрана в изображение с выбранным форматом
          const image = canvas.toDataURL(`image/${format}`);

          // Создайте ссылку для скачивания изображения
          const link = document.createElement('a');
          link.href = image;
          link.download = `${fileName}.${format}`;
          link.click();
      } else {
          alert("Choose the right format (jpeg or png).");
      }
  });
});
</script>
<br>
<style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container"></div>

  <script>
    Highcharts.setOptions({
      colors: ['#C0C0C0', '#0C090A']
    });
    Highcharts.chart('container', {
      chart: {
        type: 'column'
      },
      title: {
        text: '2022 жылға арналған Қазақстанда өндірілген энергия мен тұтынылған энергия'
      },
      xAxis: {
        categories: ['Қаңтар', 'Ақпан', 'Наурыз', 'Сәуір', 'Мамыр', 'Маусым', 'Шілде', 'Тамыз', 'Қыркүйек', 'Қазан', 'Қараша', 'Желтоқсан'],
        title: {
          text: 'Айлар'
        }
      },
      yAxis: {
        title: {
          text: 'Энергия (kWh)'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size: 10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.1f} kWh</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
         name: 'Тұтынылған энергия',
        data: [700, 650, 550, 500, 450, 400, 350, 400, 500, 550, 600, 750] // Sample wasted energy data
      }, {
        name: 'Өндірілген энергия',
        data: [900, 950, 800, 700, 1100, 1000, 920, 800, 900, 950, 1000, 1100] // Sample demanded energy data
      }]
    });
  </script>
</body>

  
  <center>
    <img src="../../static/img/pm-structure.png" class="pm-structure">   
  </center>

<div class="about_link">
  <button class="button-31" role="button" onclick="openWindow('pm-about.html')">толығырақ</button>
</div>

<div class="carousel-container">
  <h1><strong>Командамен</strong> танысу</h1>

<div class="carousel-track" >
  <div class="carousel-slide">
    <!-- Team member 1 -->
    <div class="team-member">
      <img src="../../static/img/team/Zhakiyev.png" alt="">
      <h3>Жакиев Нурхат</h3>
      <p>Жоба жетекшісі, аға ғылыми қызметкер, PhD</p>
    </div>
  </div>
  <div class="carousel-slide">
    <!-- Team member 2 -->
    <div class="team-member">
      <img src="../../static/img/team/Ruslan.png" alt="">
      <h3>Омиргалиев Руслан</h3>
      <p>Жауапты басшы, ғылыми қызметкер, MSc</p>
    </div>
  </div>
  <div class="carousel-slide">
    <!-- Team member 3 -->
    <div class="team-member">
      <img src="../../static/img/team/Abdiramanov.png" alt="">
      <h3>Әбдіраманов Өрісбай</h3>
      <p>Кіші ғылыми қызметкер, MSc</p>
    </div>
  </div>
 
  <div class="carousel-slide">
    <!-- Team member 4 -->
    <div class="team-member">
      <img src="../../static/img/team/Samal.png" alt="">
      <h3>Самал Закарьянова</h3>
      <p>Кіші ғылыми қызметкер, MSc</p>
    </div>
  </div>

  <div class="carousel-slide">
    <!-- Team member 5 -->
    <div class="team-member">
      <img src="../../static/img/team/Bahtiyar.png" alt="">
      <h3>Бахтияр Казбеков</h3>
      <p>Кіші ғылыми қызметкер, MSc</p>
    </div>
  </div>
  
  <div class="carousel-slide">
    <!-- Team member 6 -->
    <div class="team-member">
      <img src="../../static/img/team/Zhenis_new.png" alt="">
      <h3>Жеңіс Отарбаев</h3>
      <p>Кіші ғылыми қызметкер, MSc</p>
    </div>
  </div>

  <div class="carousel-slide">
    <!-- Team member 6 -->
    <div class="team-member">
      <img src="../../static/img/team/Samat.png" alt="">
      <h3>Кабдыгали Самат</h3>
      <p>Кіші ғылыми қызметкер, MSc</p>
    </div>
  </div>
  
  <div class="carousel-slide">
    <!-- Team member 6 -->
    <div class="team-member">
      <img src="../../static/img/team/Nazia.png" alt="">
      <h3>Байсакалова Назия</h3>
      <p>Кіші ғылыми қызметкер</p>
    </div>
  </div>

  <div class="carousel-slide">
    <!-- Team member 6 -->
    <div class="team-member">
      <img src="../../static/img/team/Olzhas_Uikas.png" alt="">
      <h3>Уйкас Олжас</h3>
      <p>Кіші ғылыми қызметкер</p>
    </div>
  </div>

  <div class="carousel-slide">
    <!-- Team member 6 -->
    <div class="team-member">
      <img src="../../static/img/team/Daniel Friedrich.png" alt="">
      <h3>Даниел Фридрх</h3>
      <p>Кеңесші, Профессор, Эдинбург университеті, UK</p>
    </div>
  </div>

  <!-- Add more carousel-slide divs for additional members -->
</div>

<div class="pseudo-btns">
  <div class="carousel-prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </div>

  <div class="carousel-next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </div>

</div>

<div id="footer"></div>

<script>
    function openWindow(link) {
        window.open(link);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const track = document.querySelector('.carousel-track');
        const slides = Array.from(document.querySelectorAll('.carousel-slide'));
        const prevButton = document.querySelector('.carousel-prev');
        const nextButton = document.querySelector('.carousel-next');

        let slideIndex = 0;
        const slidesPerView = 3; // Number of members per slide

        function updateCarousel() {
            const slideWidth = 100 / slidesPerView;
            track.style.transform = `translateX(-${slideIndex * slideWidth}%)`;

            prevButton.disabled = slideIndex === 0;
            nextButton.disabled = slideIndex >= slides.length - slidesPerView;
        }

        function slidePrev() {
            slideIndex = Math.max(0, slideIndex - 2);
            updateCarousel();
        }

        function slideNext() {
            slideIndex = Math.min(slideIndex + 2, slides.length - slidesPerView);
            updateCarousel();
        }

        prevButton.addEventListener('click', slidePrev);
        nextButton.addEventListener('click', slideNext);

        updateCarousel();
    });
</script>

</div>

<div id="modal-container" class="modal-container"></div>
<div id="footer"></div>


</body>
</html>