<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../new-energylab/static/img/icon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/hm-publications.css">

    <title>Публикации</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("hm-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 

</head>
<body>
    <!-- Navbar -->
    <div id="navbar"></div>

    
    <div class="container_pb">
        <table> 
            <tbody>
                <tr>
                    <th>№</th>
                    <th>Год</th>
                    <th>Статья</th>
                    <th>Журнал</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2021</td>
                    <td>Жакиева С., Габбасов М., Ахметбеков Ю., Акыбаева Г. и Жакиев Н. «Разработка моделирования оценки рисков для энергосистемы Казахстана», Международная конференция IEEE по интеллектуальным информационным системам и технологиям (SIST), 2021 г, стр. 1-4, doi: 10.1109/SIST50301.2021.9465892</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td rowspan="6">2022</td>
                    <td>Аманбек Ю., Калакова А., Жакиева С., Корхан К., Жакиев Н., Фридрих Д. "Управление транзакционной энергией на основе распределения-LMP в распределительных системах с интеллектуальными потребителями - мультиагентный подход"</td>
                    <td>WoS, Scopus-Q1</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Сарсембаев Б., Жолтаев Д., Тон Дык До. Отслеживание максимальной мощности систем преобразования энергии ветра с переменной скоростью на основе почти оптимальной системы управления сервомеханизмами // Оптимальные приложения и методы управления</td>
                    <td>WoS, Q2</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>А. Жанболатов, С. Жакиева, Н. Жакиев, К. Кайисли (2022) «Децентрализованная одноранговая торговля негаваттами на основе блокчейна в гибкой системе транзакций, основанной на спросе», Международный журнал исследований возобновляемых источников энергии (IJRER), 12(3), 1475-1483. doi:10.20508/ijrer.v12i3.13195.g8530 </td>
                    <td>Scopus percentile 58, Q2</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Б. Сарсембаев, Н. Жакиев, А. Ахметбаев и К. Кайисли, «Оптимальный дизайн системы управления на основе сервомеханизмов для извлечения максимальной мощности из ВЭУ с PMSG», 2022 10-я Международная конференция по интеллектуальным сетям </td>
                    <td>icSmartGrid</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Жанболатов А., Жакиев Н., Жакиева С., Кайисли К., Азибек Б., Душаева Т. «Метод многоканальной энергии для увеличения собственного потребления в жилых зданиях».</td>
                    <td>11-ая ICRERA</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Г.Абди, Н.Жакиев и С.Тойлыбаева «Возможности декарбонизации и новые инструменты ценообразования на выбросы углерода в Центральной Азии»</td>
                    <td>Глава в электронной книге Спрингера</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>2023</td>
                    <td>Айдын Бакдолотов, Рокко Де Мильо, Нурхат Жакиев. Оптимизационное моделирование сценария декарбонизации всей энергосистемы Казахстана до 2060 года</td>
                    <td>Energies</td>
                </tr>
            </tbody>
        </table>
    </div>


<div id="footer"></div>
</body>
</html>