<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/img/icon.ico">
    <link rel="stylesheet" href="../../static/css/base.css">
    <title>Energy Lab</title>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script> 
        $(function(){
        $("#navbar").load("base-navbar.html"); 
        $("#footer").load("footer.html"); 
        });
    </script> 
    
</head>

<body> 

    <div id="navbar">
    </div>
    
    <div class="projects" >

        
        <h1>Текущие проекты</h1>
        <div style="  border: 2px black solid;
        width: 70%;
        height: 4%;
        margin-bottom:2% ;"></div>


        <div class="porjects-inner">
                <div onclick="openProj('hybrid-modeling.html')" class="hm">
                    <div>
                        <h2>Гибридное моделирование</h2>
                        <p >
                            Разработка интегрирующего инструмента гибридного моделирования энергетической системы, включающего модель долгосрочного планирования энергосистемы и операционную модель электроэнергетической системы.
                        </p>


                    </div>

                </div>
                <div onclick="openProj('power-market.html')"  class="pm">
                    <div>
                        <h2>Энергетический рынок</h2>
                        <p >
                            Изучить возможности повышения энергоэффективности ТЭЦ, снижения выбросов парниковых газов и применения методов моделирования и машинного обучения для оптимального планирования состава генерирующего оборудования ТЭЦ в г. Павлодар, Казахстан.
                        </p>

                    </div>

                </div>
        </div>
        <br>
        <h1>Завершенные проекты</h1>

        <div style="  border: 2px black solid;
                                        width: 70%;
                                        height: 4%;
                                        margin-bottom:2% ;"></div>

        <div class="porjects-inner">
                <div  onclick="openProj('smart-city.html')"  class="sc">
                    <div>

                        <h2>Умный город</h2>
                        <p >
                            Разработка ИТ-решений для оптимизации энергетической системы умного города с применением методов машинного обучения для снижения вредных выбросов. Будут разработаны инструменты принятия решений по оптимизации ТЭЦ, системы теплоснабжения города и системы управления потреблением ресурсов многоквартирного дома.
                        </p>

                    </div>
                </div>
                <div onclick="openProj('chpp.html')"  class="chp">
                    <div>
                        <h2>ТЭЦ-1</h2>
                        <p >
                            Цель – исследование потенциала повышения энергоэффективности ТЭЦ, снижения выбросов парниковых газов и применения методов моделирования и машинного обучения для оптимального планирования состава генерирующего оборудования ТЭЦ в Павлодаре, Казахстан.
                        </p>     

                    </div>
                </div>
        </div>

        <h1>Недавние публикации</h1>
        <div style="  border: 2px black solid;
        width: 70%;
        height: 4%;
        margin-bottom:3% ;"></div>

</div>

        <div class="publications" id="pblc">
            
            <div class="publications-inner">
                <div>
                    1
                </div>
                <div>
                    <a href="https://ieeexplore.ieee.org/abstract/document/9465892">  S. Zhakiyeva, M. Gabbassov, Y. Akhmetbekov, G. Akybayeva and N. Zhakiyev, "The Development of a Risk Assessment Modeling for the Power System of Kazakhstan," 2021 IEEE International Conference on Smart Information Systems and Technologies (SIST), 2021, pp. 1-4, </a> doi: 10.1109/SIST50301.2021.9465892
   
                </div>

            </div>

            <div class="publications-inner">
                <div>
                    2
                </div>
                <div>
                    <a href="https://www.mdpi.com/1996-1073/15/7/2404"> Amanbek Y., Kalakova A., Zhakiyeva S., Korhan K., Zhakiyev N., Fridrich D. "Distribution-LMP based Transactive Energy Management in Distribution Systems with Smart Prosumers - A Multi-Agent Approach"</a> 

                </div>

            </div>
            
            <div class="publications-inner">
                <div>
                    3
                </div>
                <div>
                    <a href="https://www.researchgate.net/publication/358505657_Maximum_power_tracking_of_variable-speed_wind_energy_conversion_systems_based_on_a_near-optimal_servomechanism_control_system">  B. Sarsembayev, D. Zholtayev, and Ton Duc Do, Maximum Power Tracking of Variable-Speed Wind Energy Conversion Systems based on a Near-Optimal Servomechanism Control System // Optimal Control Applications and Methods </a>
                    
                    
                </div>

            </div>

            <div class="publications-inner">
                <div>
                    4
                </div>
                <div>
                    <a href="https://www.ijrer.org/ijrer/index.php/ijrer/article/view/13195"> A. Zhanbolatov, S. Zhakiyeva, N. Zhakiyev, K. Kayisli (2022) "Blockchain-Based Decentralized Peer-to-Peer Negawatt Trading in Demand-Side Flexibility Driven Transactive Energy System" International Journal of Renewable Energy Research (IJRER), 12(3), 1475-1483.</a> doi:10.20508/ijrer.v12i3.13195.g8530

                </div>

            </div>

            <div class="publications-inner">
                <div>
                    5
                </div>
                <div>
                    <a href="https://ieeexplore.ieee.org/document/9848769/"> B. Sarsembayev, N. Zhakiyev, A. Akhmetbayev and K. Kayisli, "Servomechanism based Optimal Control System Design for Maximum Power Extraction from WECS with PMSG," 2022 10th International Conference on Smart Grid </a>
                </div>
            </div>


            <div class="publications-inner">
                <div>
                    6
                </div>
                <div>
                    <a href="https://ieeexplore.ieee.org/document/9922874"> A. Zhanbolatov, N. Zhakiyev, S. Zhakiyeva, K. Kayisli, B.Azibek, T.Dushayeva.  “A Multi-carrier Energy Method for Self-Consumption Enhancement in Residential Buildings " </a>
                </div>
            </div>

            <div class="publications-inner">
                <div>
                    7
                </div>
                <div>
                    <a href="https://link.springer.com/chapter/10.1007/978-3-031-29831-8_5"> G.Abdi, N.Zhakiyev, and S.Toilybayeva "Decarbonization Opportunities and Emerging Carbon Pricing Instruments in Central Asia"  </a>

                </div>
            </div>


            <div class="publications-inner">
                <div>
                    8
                </div>
                <div>
                    <a href="https://www.mdpi.com/1996-1073/16/13/5142"> Aidyn Bakdolotov, Rocco De Miglio, Nurkhat Zhakiyev. Optimization modelling of the decarbonization scenario of the total energy system of Kazakhstan until 2060 </a>
                 </div>
            </div>

        </div>
        


    <script>
        function openProj(proj){
            window.location.replace(proj);
        }
    </script>

<div id="footer"></div>
</body>
</html>